ultralytics
icrawler
kaggle
tqdm
paddlepaddle
paddleocr
easyocr
inference_sdk
opencv-python
opencv-python-headless
gradio
cvzone
numpy
albumentations
huggingface_hub
roboflow
pandas
requests
pyyaml
matplotlib
seaborn
torch
torchvision